@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap');

:root {
	--primary-color: #5924ed;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}

*{
margin:0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}
.maxwidth{
max-width: 1300px;
padding: 0 80px;
margin: auto;
}

.navbar{
width: 100%;
padding: 15px 0;
background:crimson; 
position:fixed;
     
}
.navbar .maxwidth
{
 display: flex;
 text-align: center;
 justify-content: space-between;

}
.navbar .logo a{
color: black;
font-size: 60px;
width: 600;


}
.navbar .menu li{
color: black;
display: inline-block;

}
.navbar .menu li a{
color:black;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
 

}
/*Home Section*/
 .hero{

min-height: 80vh;
width: 100%;
padding-top: 50px;
justify-content:center;
background-color: black;
display:flex;
flex-direction:column-reverse;
justify-content:center;
align-items:center;

 }
 .hero .hero-info{

width:100%;
text-align: center;

 }
 .hero .hero-info .hero-info-heading{

font-size: 5rem;
font-weight: 200;
color:white

 }
 .hero .hero-info .hero-info-subheading{

font-size: 1.6rem;
text-transform: uppercase;
letter-spacing: .5rem;
color: white;
 }
 .hero .hero-info .hero-info-button{
margin-top:20px;
padding: 1rem 1rem;
display: inline-block;
font-size: 1.2rem;
text-transform:uppercase;
color: white;
text-decoration: none;
letter-spacing: .6rem;
background-color: rgba(85,85,85,0.534);

 }
 .hero .hero-img {
height: auto;
width: 100%;
margin-bottom: 3rem;

 }
 .hero .hero-img img{

height: 100%;
width: 100%;
 }
 .about{

width:100%;
min-width: 50vh;
padding: 5%;
 
 }
 .about .about-info{
text-align: center;
 
 }
 .about .about-info .about-info-heading{
font-size: 4rem;
text-transform: uppercase;
letter-spacing: .3rem;
color: black;
 }
.about .about-info .about-info-desc{
font-size: 1.3rem;
line-height: 2rem;
margin-top: 10px;
 }

 .about .about-info .about-info-button{

padding: 1.6rem 2.6rem;
display: inline-block;
background-color: rgba(0,0,0,0.548);
color: whitesmoke;
text-decoration: none;
font-size: 1.6rem;
text-transform: uppercase;
letter-spacing: .2rem;
margin-top: 20px;
margin-bottom: 20px;
}

.about .about-img {
margin-top: 50px;
display: block;
	
}

  
.about .about-img .about-img-wrapper {
margin-top: 50px;
height: auto;
max-width: 400px;
position: relative;
display: inline-block;
}	 
.about .about-img .about-img-wrapper img {
height: 100%;
width: 100%;
	
}
.about .about-img .about-img-wrapper::after {
position: absolute;
content: '';
right: -5rem;
top: 50%;
transform: translateY(-50%);
width: 50%;
height: 120%;
background-color: rgba(34, 33, 33, 0.158);
z-index: -1;
}

/* service section */
.services {
padding top:10%;
justify-items: center;
text-align: center;
font-size: 20px;
font-weight: 300;
 
 
}
.services h1{
width: 100%;
padding top:10%;
text-transform: uppercase;
font-size: 50px;


}
.services .content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap:wrap;
padding: 5%;
 }
.services .content .servicesBx{
padding: 50px 40px;
max-width: 400px;
transition: 0.5%;
text-align: center;
background: #f5f5f5;
 
}
.services .content .servicesBx:hover{
background: #000;
}
.services .content .servicesBx img{
max-width: 500px;
align-items: center;
max-height: 100%;
transition: 0.5s;
padding right:20%;
 

	}

.services .content .servicesBx:hover img{
filter:invert(1);
}
.services .content .servicesBx h2{
margin-top: 20px;
margin-bottom: 10px;
font-size: 20px;
font-weight: 600;
transition:0.5s;	
}
.services .content .servicesBx:hover h2{
color: #fff;

} 
.services .content .servicesBx p{
margin: 0;
transition: 0.5s;
}
.services .content .servicesBx:hover p{
color: #fff;
}





/* Start Contact Section*/

.contact-banner {
	background-image: linear-gradient(
	  to right,
	  rgb(0, 114, 66) 0%,
	  rgb(4, 109, 91) 100%
	);
	color: white;
	padding: 30px;
	text-align: center;
 
  }
  
  .invalid {
	border: 1px solid red;
  }
  
  .mb-2 {
	margin-bottom: 20px;
  }
  
  .mb-4 {
	margin-bottom: 40px;
  }
  
  p {
	font-size: 20px;
  }
  
  .contact-description {
	margin-bottom: 40px;
	text-align: center;
	
  }
  
  input {
	padding: 10px;
	border-radius: 5px;
	width: 280px;
	border: 1px solid rgb(0, 114, 66);
	font-size: 18px;
	outline: none;
	color: #333;
	 
  }
  
  .form-control {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
  }
  
  .error {
	color: red;
	font-size: 14px;
	margin-top: 6px;
  }
  
  label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	 
  }
  
  .hide {
	opacity: 0;
  }
  
  textarea {
	width: 560px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
	height: 200px;
	font-size: 18px;
	
  }
  
  button {
	color: black;
	padding: 20px;
	border: 1px solid rgb(0, 114, 66);
	border-radius: 10px;
	background: none;
	cursor: pointer;
	transition: all 0.5s;
	color: rgb(0, 114, 66);
	 
  }
  
  button:hover {
	background-image: linear-gradient(
	  to right,
	  rgb(0, 114, 66) 0%,
	  rgb(4, 109, 91) 100%
	);
	color: white;
	 
  }
  
  form {
	padding: 40px;
	text-align: center;
  }
  
  hr {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 1px;
	border: none;
	background-color: rgb(0, 114, 66);
  }


/* FOOTER */
 
#footer {
	background-color: #311580;
	color: white;
	padding: 5rem 0 5rem 0;
}
#footer footer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2rem;
}
#footer footer .col-1 {
	flex: 3;
}
#footer footer .col-2,
#footer footer .col-3,
#footer footer .col-4 {
	flex: 2;
}
#footer footer .col-4 {
	flex: 1;
}

 #footer footer .col-1 p {
	color: white;
}

#footer footer .column-heading {
	font-family: 'Montserrat';
	font-size: 1rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	line-height: 1.5em;
}
#footer footer ul {
	list-style: none;
}
#footer footer ul li {
	border-radius: 4px;
}
#footer footer ul li:hover {
	background-color: white;
}
#footer footer ul li:hover a {
	color: var(--primary-color);
}
#footer footer ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem;
}
#footer footer .col-4 ul {
	display: flex;
	flex-wrap: wrap;
}
#footer footer .col-4 ul li a {
	min-width: 50px;
}
@media only screen and (max-width: 768px) {
	#footer footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	#footer footer .col-1,
	#footer footer .col-2,
	#footer footer .col-3,
	#footer footer .col-4 {
		width: 100%;
		margin-bottom: 3rem;
	}
	#footer footer .col-4 ul {
		width: fit-content;
		margin: 0 auto;
	}
}

/* copyright Section */
#copyright {
	padding: 1rem 0;
	background-color: #221052;
}
#copyright p {
	color: white;
	margin: 1rem;
	font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
	#copyright p {
		text-align: center;
	}
}